body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/*
	same as above: 

	font: 15px/1.5 Arial, Helvetica, sans-serif;
	*/
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul{ /* targets all ul's (unordered lists) */
	margin:0;
	padding:0;
}

.button_1{
	height:38px;
	background:#e8491d;
	border:0; /* border:none; <-- does the same */
	padding-left:20px;
	padding-right:20px;
	color:white;
}

.dark{
	padding:15px;
	background:#35424a;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
}


/* Header */
header{
	background:#35424a;
	color:#fff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{ /* targets the links in the header */
	color:#fff;
	text-decoration: none; /* removes hyperlink underline */
	text-transform: uppercase; /* makes link letters uppercase */
	font-size:16px;
}

header li{ /* targets the stuff IN the list */
	float:left;
	display:inline; /* moves links onto the same line */
	padding: 0 20px 0 20px; /* remember, targeting values order is: top, right, bottom, left */
}	

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{ /* when hovering over the link it turns red */
	color:red;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background:url("../images/showcase.jpg") no-repeat 0 -400px; 
	text-align: center;
	color:white;
}

#showcase h1{ /* targets the h1 in showcase */
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p{ /* targets the paragraph in showcase */
	font-size:13px;  
}
 
/* Newsletter */

#newsletter{
	padding:15px;
	color:white;
	background:#35424a;
}

#newsletter h1{ /* moves h1 to left of screen */
	float:left;
}

#newsletter form{ /* moves form to right of screen */
	float:right;
	margin-top:15px; /* moves form down */
}

#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}


/* Boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:10px;
}

#boxes .box img{
	width:90px;
}

/* Sidebar */

aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding:5px;
}

/* Main-Column */

article#main-col{
	float:left;
	width:65%;
}

/* Services */
ul#services li{
	list-style:none;
	padding:20px;
	border: #ccc solid 1px;
	margin-bottom:5px;
	background:#e6e6e6;
}

/* Footer */
footer{
	padding:20px;
	color:white;
	background-color:#e8491d;
	text-align:center;
}











































